<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head-tag.html' %}
        <style>
            .window {float: left;}
        </style>
    </head>
    <body>
        <main>
        	<div class="window">
                <div>
              		{{ content | safe }}
                </div>
                <div>
                    <h2>pinned</h2>
                    {% include 'blog/pinned.njk' %}
                </div>
                <div>
                    {% include 'footer.html' %}
                </div>
        	</div>
        	<div class="window">
                <h2>all posts</h2>
                {% include 'blog/posts.njk' %}                
            </div>
        </main>
    </body>
</html>