<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head-tag.html' %}
    </head>
    <body>
        <main class="window">
        	<div>
        		{{ content | safe }}
        	</div>
        	<div>
                {% include 'footer.html' %}
            </div>
        </main>
    </body>

</html>
